<div class="p-4">
  <div class="flex justify-content-between align-items-center mb-3">
    <div>
      <h2 class="m-0">PDF Editor Demo</h2>

      <small class="text-color-secondary">
        Upload, edit and save PDF documents
      </small>
    </div>
  </div>

  @if (pdfSrc()) {
    <p-card>
      <div class="flex align-items-center gap-2 mb-3">
        <i class="pi pi-file-pdf text-red-500"></i>

        <span class="font-medium">
          {{ filename() }}
        </span>

        <p-tag value="Editing" severity="info"> </p-tag>
      </div>

      <ngx-extended-pdf-viewer
        #pdfViewer
        [src]="pdfSrc()"
        [height]="'70vh'"
        [customToolbar]="myCustomToolbar"
        [filenameForDownload]="filename()"
      >
      </ngx-extended-pdf-viewer>

      <ng-template #myCustomToolbar>
        <div id="toolbarViewer">
          <!-- Left Section: Navigation & Tools -->
          <div id="toolbarViewerLeft">
            <pdf-toggle-sidebar></pdf-toggle-sidebar>
            <pdf-find-button
              [showFindButton]="'always-visible'"
            ></pdf-find-button>
          </div>

          <div id="toolbarViewerMiddle">
            <pdf-previous-page></pdf-previous-page>
            <pdf-page-number></pdf-page-number>
            <pdf-next-page></pdf-next-page>

            <div class="splitToolbarButtonSeparator"></div>

            <pdf-zoom-out></pdf-zoom-out>
            <pdf-zoom-in></pdf-zoom-in>
          </div>

          <!-- Right Section -->
          <div id="toolbarViewerRight">
            <pdf-stamp-editor></pdf-stamp-editor>
            <pdf-print></pdf-print>
            <pdf-download></pdf-download>
            <pdf-draw-editor></pdf-draw-editor>
            <!-- Your Custom Button -->
            <p-button
              class="toolbarButton custom-stamp-btn"
              label="Add IPD Label"
              (onClick)="addSavedImage()"
            ></p-button>

            <div class="verticalToolbarSeparator"></div>
          </div>
        </div>
      </ng-template>
    </p-card>
  }

 <div class="flex gap-2 items-center justify-content-center mt-4">
  @if (pdfSrc()) {
    <p-button label="Save Edited PDF" icon="pi pi-save" (onClick)="savePdf()">
    </p-button>
  }
</div>

</div>

<p-toast></p-toast>

<p-confirmdialog></p-confirmdialog>
